$green: #4ac8bb;
.main {
  position: relative;
  z-index: -1;
  margin-top: 200px;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: 60% 32%;
  justify-content: space-between;
}

.main > div:nth-child(2) {
  text-align: right;
  margin-top: 70px;
}

img {
  border-radius: 10px;
}

.university {
  color: $green;
}

.list {
  width: 50%;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.aboutlist {
  margin-bottom: 7px;
  margin-right: 80px;
  list-style-type: "▶ ";
  position: relative;
  left: 20px;
}

@media (max-width: 1150px) {
  .main {
    grid-template-columns: 55% 40%;
  }
  img {
    width: 250px;
  }
}

@media (max-width: 968px) {
  .main {
    display: grid;
    grid-template-columns: auto;
  }
  .main > div:nth-child(2) {
    text-align: center;
    margin-top: 20px;
  }
}
@media (max-width: 410px) {
  img {
    width: 180px;
  }
}
