.get {
  font-size: 35px;
  font-weight: bold;
  color: white;
  opacity: 0.6;
  margin-top: 10px;
}

.main {
  padding-bottom: 250px;
  text-align: center;
}

.link {
  color: #4ac8bb;
}

button:hover {
  background-color: #46bbaf25;
}
